/* PDF viewer */
.pdf-viewer {
  margin: 0 auto;
  width: 100%;
  height: 32.8rem;
  /* height: 35rem; */
}

/*#region Header */
header {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*#endregion */


.toolbar {
  width: 302px;
  display: flex;

}




.pdf-toolbar .page-navigate button {
  background: #c5cbd1;
  height: 28px;
}

.pdf-toolbar .page-navigate #page {
  margin: 0 1px;
  padding: 5px 10px;
  /* background: #c5cbd1; */
  /* width: 30px;
    height: 5px; */
}

.pdf-toolbar .page-navigate .pervious-btn {
  margin-left: 3px;
  border-radius: 4px 0px 0px 4px;
}



.pdf-toolbar .page-navigate .next-btn {
  border-radius: 0px 4px 4px 0px;
}

/*#region menu*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*#endregion */
/*#endregion */

@media (min-height:696px) {
  .pdf-viewer {
    height: 43.5rem;
  }
}