<div id="myNav" class="overlay" [ngStyle]="{ height: isFullWidth ? '100%' : '0%'}">
  <!-- <a *ngIf="isFullWidth" href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> -->
  <div class="overlay-content">
    <a>Kholapharda.in <br>କୁ ସ୍ୱାଗତ</a>
  </div>
</div>

<!-- <app-progress [ngStyle]="{'visibility': progress}" [progress]="currentProgress"></app-progress> -->
<app-progress [progress]="currentProgress"></app-progress>
<div [ngStyle]="{'visibility': display}">
  <pdf-viewer class="pdf-viewer" [src]="pdfSrc" 
  [render-text]="true"
    [original-size]="size" 
    [fit-to-page]="fit"
    [show-borders]="true" 
    [show-all]="true" 
    [zoom]="zoom" 
    [page]="pageNumber" 
    (pagesLoaded)="onPagesLoaded($event)"
    (on-progress)="onProgress($event)" 
    (after-load-complete)="afterLoadComplete($event)"
    (page-change)="onPageChange($event)">
  </pdf-viewer>
</div>